body, html {
  margin: 0;
}

#settings {

}

#display {
  overflow-x: hidden;
  overflow-y: hidden;
  display: none;
}

#playground {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 150px;
  z-index: 0;
}

#score {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  z-index: 1;
  border-radius: 0px;
}

h1.title {
	font-size: 75px;
	font-weight: 400;
}

.form-group{
	margin-bottom: 15px;
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
  padding: 40px 40px;

}

label {
  margin-bottom: 20px;
}

.login-button{
	margin-top: 10px;
}
